<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Dog Groomers</title>
    <link rel="stylesheet" href="/stylesheets/groom.css">
</head>

<body>
<img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662761625/DayCamp/stas-svechnikov-rEgveRa_5ds-unsplash_rwobpt.jpg" 
class="img-fluid" alt="">
<!-- <h1 class="h1 text-center mt-5">Camp Grooms</h1> -->
<h2 class="text-center fs-2 mt-5">Mobile Grooming Service</h2>
<p class="text-center fs-5">Trust our award-winning, certified groomers to fulfill all your grooming needs, without leaving a step out of your house!</p>

<h2 class="text-center fs-3 mt-5 mb-3">Pricing</h2>
<div class="card-group">
    <div class="card">
      <img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662745419/DayCamp/small_dogs_q8cbru.jpg" 
      class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Small Dogs</h5>
        <p class="card-text text-center">&#8900; Baths start at $20 <br>&#8900; Grooms start at $35</p>
        <p class="card-text text-center"><small class="text-muted">Small dog breeds include - Pomeranians, Chihuahuas, Maltese</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662746080/DayCamp/real_med_dogs_tp1b6e.jpg" 
      class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Medium Dogs</h5>
        <p class="card-text text-center">&#8900; Baths start at $30 <br>&#8900; Groom start at $45</p>
        <p class="card-text text-center"><small class="text-muted">Medium dog breeds include - Border Collie, Poodles, Bulldogs</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662748209/DayCamp/Siberian-Husky-standing-outdoors-in-the-winter_icfmut.jpg" 
      class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Large Dogs</h5>
        <p class="card-text text-center">&#8900; Baths start at $40 <br>&#8900; Grooms start at $55</p>
        <p class="card-tex text-center"><small class="text-muted">Large dog breeds include - St.Bernards, Alaskan Malamte, Dobermans</small></p>
      </div>
    </div>
  </div>
  
<p class="text-dark">
   
    <img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662762703/DayCamp/darren-richardson-a-VZj8a1wWc-unsplash_cn1dcx_1913fc-cropped.jpg" alt="" 
    class="bath mt-5 mb-2 img-fluid mx-auto d-block rounded-circle rounded-5">
    <h3 class="fs-3 text-center">Baths</h3>
    <p class="text-center my-2">
        Included with every bath is - a nail trim, ear cleaning, paw cleaning. We use our trademarked deShedding 
        doggie shampoo and conditioning solution, along with thorough blowout to help you through the toughest shedding seasons. 
        Nail trim and paw cleaning include polishing.
    </p>

    <img src="https://res.cloudinary.com/doyayes9t/image/upload/v1662763645/DayCamp/tanner-crockett-9WMoaz8kDrU-unsplash_x4dhof_ed7e11-square.jpg" alt=""
    class="bath mt-5 img-fluid mx-auto d-block rounded-circle">
    <h3 class="fs-3 text-center">Grooms</h3>
    <p class="text-center mt-2 mb-5">
        Included with every groom are all the serviced included in baths, as well as hair cut paw pad trimming, sanitary grooming, 
        de-matting. We make sure to use breed and age appropriate cuts, to maintain sensitive coat of puppies and undercoat of multi-coated breeds.
        <br>
    </p>
</p>




<p class="text-center my-5">
    We pride ourselves in gentle handling - all our handlers are trained to help grooming become a pleasant exprerience. Reach out to our toll free number!
</p>

<!-- 

<body>
    <div class="panel">

        <div class="pricing-plan">
            <img src="icons/icon1.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Small</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Bath and nail trim</li>
                <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
            </ul>
            <span class="pricing-price">Free</span>
            <a href="#/" class="pricing-button">Sign up</a>
        </div>

        <div class="pricing-plan">
            <img src="icons/icon2.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Medium</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Never sleeps</li>
                <li class="pricing-features-item">Multiple workers for more powerful apps</li>
            </ul>
            <span class="pricing-price">$150</span>
            <a href="#/" class="pricing-button is-featured">Free trial</a>
        </div>

        <div class="pricing-plan">
            <img src="icons/icon3.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Large</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">Dedicated</li>
                <li class="pricing-features-item">Simple horizontal scalability</li>
            </ul>
            <span class="pricing-price">$400</span>
            <a href="#/" class="pricing-button">Free trial</a>
        </div>

    </div>

</body> -->
    
</body>
</html>
